@use "sass:map";
@use "sass:math";

// ============================================================
// Breakpoints
// ============================================================

$breakpoint: (
  sm: 480px,
  md: 769px,
  lg: 960px,
  xl: 1280px,
);
$reference-viewport-sp: 360;
$reference-viewport-pc: 1440;

// ============================================================
// Root Variables
// ============================================================

:root {
  // Font
  --font-family: "Noto Sans JP", sans-serif;
  --font-family-en: "Inter", sans-serif;

  // Font size
  --font-size: 0.875rem;

  // Line height
  --line-height: 1.5;

  // Letter spacing
  --letter-spacing: 0.05em;

  // Colors
  --color-main: #0A7463;
  --color-yellow: #F1F17F;
  --color-black: #000;
  --color-red: #E60014;
  --color-white: #fff;
  --color-blue: #001EA0;
  --color-green: #32C81E;
  --color-gray: #777;
  --color-light-gray: #dadada;

  // Content width
  --content-width: 1320px;
  --content-width-medium: 1100px;

  // Gutter
  --content-gutter: 16px;
  --content-gutter-wide: 40px;

  // Module gutter
  --module-gutter: 1.875rem;
  --module-gutter-wide: 2.5rem;

  // Scroll
  --scroll-padding: 0;
  --scroll-padding-tab: 0;
  --scroll-padding-pc: 0;

  // Transition
  --transition-duration: 0.4s;
  --hover-opacity: 0.8;
  --e-in-out-expo: cubic-bezier(1, 0, 0, 1);

  // Z-index
  --z-index-header: 10;
}
