@use "../var";
@use "./media-query";
@use "sass:map";
@use "sass:math";

@mixin fz($size-sp: 16px, $size-pc: 16px) {
  font-size: math.div(100, var.$reference-viewport-sp) * $size-sp * 1vw;

  @include media-query.mq {
    font-size: math.div(100, var.$reference-viewport-pc) * $size-pc * 1vw;
  }
}

@mixin font-size($min-size: 10px, $max-size: 16px, $range: above) {
  $breakpoint: map.get(var.$breakpoint, md);
  $min-vw: var.$viewport-min;
  $max-vw: $breakpoint;

  @if $range == below {
    $min-vw: $breakpoint + 1;
    $max-vw: var.$viewport-pc;
  }

  $min-size-rem: math.div($min-size, 16px);
  $max-size-rem: math.div($max-size, 16px);
  $vw-difference: $max-vw - $min-vw;
  $size-difference: $max-size - $min-size;
  $slope: math.div($size-difference, $vw-difference);
  $base: $min-size - ($slope * $min-vw);

  font-size: clamp(#{$min-size-rem}rem,
    #{math.div($base, 16px)}rem + #{$slope * 100}vw,
    #{$max-size-rem}rem);
}
