@use "../global" as *;

.c-card {
    display: flex;
    flex-direction: column;

    &__head {
        display: flex;
        gap: 8px;
        align-items: center;
        justify-content: space-between;
        padding: 8px;
        background: var(--color-main);

        &--label {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            width: 60px;
            height: 26px;
            padding: 5px;
            font-family: var(--font-family-en);
            font-weight: 700;
            line-height: 1;
            color: var(--color-main);
            background: var(--color-white);
        }

        &::after {
            width: 60px;
            height: 26px;
            content: '';
        }

        &--time {
            font-family: var(--font-poppins);
            font-size: rem(18);
            font-weight: 600;
            line-height: 1;
            color: var(--color-white);
            text-align: center;
        }
    }

    &__body {
        position: relative;
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px 30px;
        background: var(--color-white);
    }

    &__category {
        display: inline-flex;
        padding: 4px 8px;
        margin-bottom: 9px;
        font-size: rem(12);
        font-weight: 600;
        line-height: calc(16 / 12);
        color: var(--color-white);
        letter-spacing: 0.06em;
        background: var(--color-main);
    }

    &__title {
        padding-right: 10px;
        margin-bottom: 24px;
        font-size: rem(20);
        font-weight: 700;
        line-height: 1.6;
        color: var(--color-main);

        @include hover {
            text-decoration: underline;
            text-decoration-thickness: 1px;
            text-underline-offset: 3px;
        }
    }

    &__detail {
        margin-bottom: 13px;
        color: #444;

        &:last-of-type {
            margin-bottom: 16px;
        }
    }

    &__name {
        margin-bottom: 3px;
        font-size: rem(20);
        font-weight: 700;
        line-height: 1.6;

        &--sm {
            font-size: rem(16);
            line-height: 1.5;
        }
    }

    &__company {
        font-size: rem(14);
        font-weight: 700;
        line-height: 1.6;
    }

    &__info {
        margin-top: -1px;
        font-size: rem(14);
        font-weight: 400;
        line-height: 1.6;
    }

    &__thumb {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        margin-bottom: 20px;

        &--item {
            width: 88px;
        }
    }

    &__logo {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        margin-top: auto;

        &--item {
            width: 76px;
        }
    }

    &__btn {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 2;
        width: 40px;
        aspect-ratio: 1/1;
        background: rgb(10 116 99 / 0.1);
        transition: .3s ease;

        &::after {
            position: absolute;
            inset: 0;
            content: '';
            background-color: var(--color-main);
            mask: url('../images/icon_plus.svg') center/15px auto no-repeat;
            transition: .3s ease;
        }

        @include hover {
            background: var(--color-main);

            &::after {
                background-color: var(--color-white);
            }
        }
    }
}
