@use "../global" as *;

.c-card {
  display: flex;
  overflow: hidden;
  background: var(--color-white);
  border: 1px solid var(--color-light-gray);
  border-radius: px2rem(8);
}

.c-card__thumb {
  width: 100%;
}

.c-card__image {
  width: 100%;
}

.c-card__body {
  display: flex;
  flex-wrap: wrap;
  gap: px2rem(8);
  width: 100%;
  padding: px2rem(16) px2rem(20) px2rem(24);
}

.c-card__title {
  width: 100%;
  font-size: px2rem(18);
  color: var(--color-black);
}

.c-card__desc {
  width: 100%;
  font-size: px2rem(14);
  color: var(--color-gray);
}

.c-card__action {
  margin-top: px2rem(8);
}

/* ==========================================================================
   DIRECTION MODIFIERS (Xử lý đổi hướng layout bằng Class)
   ========================================================================== */

/* Hướng dọc (Mặc định) */
.c-card--dir-top {
  flex-direction: column;
}

/* Hướng ngang: Ảnh bên TRÁI */
.c-card--dir-left {
  flex-direction: row;
  align-items: center;
}

.c-card--dir-left .c-card__thumb {
  flex-shrink: 0;
  width: 50%;
  max-width: 300px;

  @include mq {
    width: 40%;
  }
}

/* Hướng ngang: Ảnh bên PHẢI */
.c-card--dir-right {
  flex-direction: row-reverse;
  align-items: center;
}

.c-card--dir-right .c-card__thumb {
  flex-shrink: 0;
  width: 50%;
  max-width: 300px;

  @include mq {
    width: 40%;
  }
}
