@use "../global" as *;

.c-title {
    &__lv2 {
        margin-bottom: px2rem(48);
        font-family: var(--font-family-en);
        font-size: px2rem(30);
        font-weight: 500;
        line-height: 1;
        color: var(--color-main);
        text-align: center;
        letter-spacing: 0.03em;

        @include mq {
            font-size: px2rem(48);
        }

        &--white {
            color: var(--color-white);
        }
    }

    &__lv3 {
        display: flex;
        gap: px2rem(16);
        align-items: center;
        margin-bottom: px2rem(32);
        font-family: var(--font-poppins);
        font-size: px2rem(18);
        font-weight: 500;
        line-height: 1.5;
        color: var(--color-main);
        letter-spacing: 0.02em;

        @include mq {
            font-size: px2rem(24);
        }

        &::after {
            flex-grow: 1;
            height: 1px;
            content: '';
            background: var(--color-main);
        }
    }
}
