@use "../global" as *;
@use "sass:map";

.l-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  color: var(--color-main);
  background: var(--color-white);
  transition: .3s ease-in-out;
}
